---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
// import Sponsorship from '@/components/projects/Sponsorship.astro'
// import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
// import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  // { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'utilities', text: 'Utilities' },
  { depth: 2, slug: 'others', text: 'Others' },
  // { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  // { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/chen571428'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='utilities'>Utilities</h2>
  <ProjectSection
    projects={[
      {
        name: 'PKU CoSel',
        description: '白鲸大学手动选课辅助工具',
        links: [
          { type: 'github', href: 'https://github.com/Chen571428/CoSel' },
          { type: 'site', href: 'https://chen571428.github.io/CoSel/' },
        ]
      }
    ]}
  />

  <!-- <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: '📒 Notie',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      },
      {
        name: '💄 PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: 'https://github.com/zhuozhiyongde/Introduction-To-Computer-System-2023Fall-PKU'
          }
        ]
      }
    ]}
  /> -->

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'StatInfer',
        description: "StatInfer's Github",
        links: [{ type: 'github', href: 'https://github.com/chen571428' }]
      }
    ]}
  />

 
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
